<html>


<body>
<h1>
<!--Hello dashboard  -->
Account Number : <%= AccountNumber %> </br>
    Account name :  <%= AccountHolderName %>   </br>                    <a href="/logout"> Logout  </a>


    </h1>
</body>
</html>