<html>

<body>
<form action="/otp1" method="POST" name="o">
Enter otp : <input type="text" id="otp" name="otp" />
<input type="hidden" id="userm" name="userm" value="<%= userid;%>"/>
<input type="submit" value="continue"/>
</form>
</body>


</html>