<html>
<head>

</head>

<body>

<form action="/uploaduserimage" method="POST" enctype="multipart/form-data" >

    <input type="file"  name="userPhoto" id="userPhoto" class="btn btn-default" style="align:center;"/>
    <br/>
    <input type="submit" name="submitimage" id="submitimage" class="btn btn-default"  value="Upload" style="margin-left:50%;margin-right:50%;" />
    <span id = "status"></span>
</form>




</body>


</html>