<html>

<head>

    <title>
        chanag password
    </title>
</head>

<body>

<form id="newpass" name="newpass" method="post" action="/newpass">
    Enter new password <input type="text" id="n1" name="n1" /> </br>
    Re-enter new password <input type="text" id="n2" name="n2" /> </br>
    <input type="hidden" id="n3" name="n3" value="<%= y; %>"/>
    <input type="submit" value="change password" />
</form>
</body>

</html>