<footer>
    <div class="footer">
        <div class="wrapper">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>Address</h6>
                        <p><span class="head">Digital Lync</span> 1 Hallidie Plaza suite 404B, SanFrancisco, California, 94102.</p>
                        <p><span class="head">Digital Lync</span> Khajaguda, Naga Hills Rd, Madhura Nagar Colony, Gachibowli, Hyderabad, Telangana, 500008.</p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                        <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Carrers</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form action="/api/contact-us" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-default">Send</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-terms">
            	<p>@2016 LyncSchool. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
